.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-txt{
    text-align: center;
}

.txt-beko{
    color: white;
}

.background{
    background-color: blanchedalmond;
}

.txt-30{
    font-size: 30px;
}

.back-img{
    background-image: url(/image/beko-turkey-logo-barcelona-sponsor.jpg);
    background-size: contain;
}

.font-f{
    font-family: 'Nanum Gothic Coding', monospace;
}

.txt-100{
    font-size: 40px;
}